# weather data

In [1]:
# importing required libraries
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('C:\weather_data.csv')

In [3]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,01-01-2012 00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,01-01-2012 01:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,01-01-2012 02:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,01-01-2012 03:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,01-01-2012 04:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [5]:
for col in df.columns:
    print(col)

Date/Time
Temp_C
Dew Point Temp_C
Rel Hum_%
Wind Speed_km/h
Visibility_km
Press_kPa
Weather

In [6]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [9]:
weather=df[['Date/Time','Temp_C','Weather']]

In [10]:
weather

             Date/Time  Temp_C               Weather
0     01-01-2012 00:00    -1.8                   Fog
1     01-01-2012 01:00    -1.8                   Fog
2     01-01-2012 02:00    -1.8  Freezing Drizzle,Fog
3     01-01-2012 03:00    -1.5  Freezing Drizzle,Fog
4     01-01-2012 04:00    -1.5                   Fog
...                ...     ...                   ...
8779  12/31/2012 19:00     0.1                  Snow
8780  12/31/2012 20:00     0.2                  Snow
8781  12/31/2012 21:00    -0.5                  Snow
8782  12/31/2012 22:00    -0.2                  Snow
8783  12/31/2012 23:00     0.0                  Snow

[8784 rows x 3 columns]